<!DOCTYPE html>
<html lang="en" class="mode-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% if title %}
        {{ title }} | fragosti
      {% else %}
        fragosti
      {% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/prism.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/assets/js/app.js" defer></script>
  </head>
  <body class="container max-w-2xl mx-auto dark:bg-gray-900 px-4 lg:px-0">
    <div class="divide-y divide-gray-500">
      <header>
        <div class="flex flex-row justify-between items-center my-6">    
          <a href="/" class="block font-secondary text-2xl font-bold">fragosti</a>
          <div data-controller="dark-mode-controller" class="header-link mt-8 mb-6">
            <i data-feather="moon" data-target="dark-mode-controller.darkToggle" class="hidden" data-action="click->dark-mode-controller#useDarkMode"></i>
            <i data-feather="sun" data-target="dark-mode-controller.lightToggle" data-action="click->dark-mode-controller#useLightMode"></i>
          </div>
        </div>
        <div class="flex flex-row justify-between py-2">
          <div class="space-x-3">
            <a class="header-link" href="/posts">Posts</a>
            <a class="header-link" href="/projects">Projects</a>
            <a class="header-link" href="/about">About</a>
          </div>
          <div class="space-x-3">
            <a class="header-link" target="_blank" href="https://twitter.com/fragosti"><i data-feather="twitter"></i></a>
            <a class="header-link" target="_blank" href="https://github.com/fragosti"><i data-feather="github"></i></a>
            <a class="header-link" target="_blank" href="https://www.linkedin.com/in/fragosti/"><i data-feather="linkedin"></i></a>
          </div>
        </div>
      </header>
      <div></div>
    </div>
    <main class="py-8">{{ content | safe }}</main>
    <div class="divide-y divide-gray-500 mt-8">
      <div></div>
      <footer class="text-gray-600 py-4">© 2020 All rights reserved.</footer>
    </div>
    <script>
      feather.replace({ class: 'inline-block' })
    </script>
  </body>
</html>
