@tailwind base;

/* Base styles and font-face. */
body {
  @apply font-secondary;
}
h1 {
  @apply text-5xl font-bold font-primary leading-none;
}
h2 {
  @apply text-2xl font-semibold font-primary;
}
h3 {
  @apply text-xl font-secondary font-semibold text-gray-800;
}
p {
  @apply text-gray-800 leading-relaxed;
}
p a {
  @apply text-indigo-500 underline;
}
label {
  @apply text-gray-600 font-primary text-sm inline-block;
}
.link {
  @apply text-gray-600 font-primary cursor-pointer;
}
.link:hover {
  @apply underline text-black;
}
.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.mode-dark {
  body {
    @apply text-white;
  }
  .link {
    @apply text-gray-600;
  }
  .link:hover {
    @apply text-white;
  }
  p {
    @apply text-gray-400;
  }
  p a {
    @apply text-indigo-300;
  }
  label {
    @apply text-gray-600;
  }
  h3 {
    @apply text-gray-100;
  }
}
h2 .header-anchor {
  visibility: hidden;
}
h2:hover .header-anchor {
  visibility: visible;
}

@tailwind components;

/* Custom components using @apply */

@tailwind utilities;

/* Custom utilities, can wrap in @responsive, @variants hover, etc.. */
