---
layout: base.njk
title: About
---
<h2 class="mb-4"> About Me </h2>
<article class="space-y-4">
  <p>
    I'm Francesco – a software engineer with experience building products, APIs, "dApps", automated trading bots, data pipelines and more. 
  </p>
  <p>
    I'm currently co-founder & CTO at <a href="https://phantom.app">Phantom</a>.
    Previously, I was a tech lead at at 0x building the <a href="/projects/0x-api">0x-api</a>, among other things. 
    Prior to that, I worked on search at <a href="/projects/yelp-search">Yelp</a> as a full-stack and iOS engineer.
  </p>
  <p>
    In my free time you'll find me hacking, running, lifting, scheming, reading, or in the <a href="https://www.cryptovoxels.com/" target="_blank" rel="noopener noreferrer">metaverse</a>.
    Besides that, I enjoy creating and releasing side-projects, some of which you can see in the <a href="/projects">projects page</a>.
    If you're interested in collaborating, don't hesitate to <a href="mailto:francesco@fragosti.com">reach out.</a>
  </p>
  <p>
    I'm also into startups and obsessed with crypto.
  </p>
  <p>
    I studied Computer Science at <a href="https://duke.edu/">Duke University</a> and am from Milan, Italy originally.
  </p>
</article>