---
layout: base.njk
---

<div class="my-10">
  <h1 class="mb-4"> Hi. </h1>
  <p>
    I'm Francesco – a software engineer with experience building products, APIs, "dApps", automated trading bots, data pipelines and more.
    In my free time you'll find me hacking, running, lifting, scheming, reading, or in the <a href="https://www.cryptovoxels.com/" target="_blank" rel="noopener noreferrer">metaverse</a>.
    I'm also into startups, crypto and all that.
  </p>
</div>

<div class="divide-y divide-gray-500 mb-5 mt-8">
  <div class="flex flex-row justify-between py-2">
    <h2>Latest Posts</h2>
    <a class="link self-center" href="/posts">Read all posts</a>
  </div>
  <div></div>
</div>
{% set postsListLimit = 3 %}
{% include "postslist.njk" %}

<div class="divide-y divide-gray-500 mb-5 mt-8">
  <div class="flex flex-row justify-between py-2">
    <h2>Latest Projects</h2>
    <a class="link self-center" href="/projects">See all projects</a>
  </div>
  <div></div>
</div>
{% set projectsListLimit = 3 %}
{% include "projectslist.njk" %}