---
description: Posts, projects and more by fragosti
---
<!DOCTYPE html>
<html lang="en" class="mode-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% if title %}
        {{ title }} | fragosti
      {% else %}
        fragosti
      {% endif %}
    </title>
    <meta name="description" content="{{ description }}"/>
    <meta name="author" content="Francesco Agosti">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="https://fragosti.com{{ page.url }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:url" content="https://fragosti.com{{ page.url }}" />
    <meta name="twitter:creator" content="@fragosti" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/prism.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,600,700&display=optional" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,600,700&display=optional" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97559297-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-97559297-4');
    </script>
    <script src="/assets/js/app.js" defer></script>
  </head>
  <body class="container max-w-2xl mx-auto dark:bg-gray-900 px-4 lg:px-0 transition-colors duration-300 ease-in-out">
    <div class="divide-y divide-gray-500">
      <header>
        <div class="flex flex-row justify-between items-center my-6">    
          <a href="/" class="block font-secondary text-2xl font-bold">fragosti</a>
          <div data-controller="dark-mode-controller" class="link mt-8 mb-6">
            <i data-feather="moon" data-target="dark-mode-controller.darkToggle" class="hidden" data-action="click->dark-mode-controller#useDarkMode"></i>
            <i data-feather="sun" data-target="dark-mode-controller.lightToggle" data-action="click->dark-mode-controller#useLightMode"></i>
          </div>
        </div>
        <div class="flex flex-row justify-between py-2">
          <div class="space-x-3">
            <a class="link" href="/posts">Posts</a>
            <a class="link" href="/projects">Projects</a>
            <a class="link" href="/about">About</a>
          </div>
          <div class="space-x-3">
            <a class="link" href="mailto:francesco@fragosti.com" aria-label="Email"><i data-feather="mail"></i></a>
            <a class="link" target="_blank" rel="noopener" aria-label="Twitter" href="https://twitter.com/fragosti"><i data-feather="twitter"></i></a>
            <a class="link" target="_blank" rel="noopener" aria-label="Github" href="https://github.com/fragosti"><i data-feather="github"></i></a>
            <a class="link" target="_blank" rel="noopener" aria-label="LinkedIn" href="https://www.linkedin.com/in/fragosti/"><i data-feather="linkedin"></i></a>
          </div>
        </div>
      </header>
      <div></div>
    </div>
    <main class="py-8">{{ content | safe }}</main>
    <div class="divide-y divide-gray-500 mt-8">
      <div></div>
        <footer class="text-gray-600 py-4 flex flex-row justify-center sm:justify-between flex-wrap-reverse items-center">
          <div>© 2020 All rights reserved.</div>
          <form action="https://fragosti.us10.list-manage.com/subscribe/post?u=19aebc17c023a0b14dd99e7af&amp;id=aac894cef7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flex flex-row flex-no-wrap mb-4 sm:mb-0 ml-2" target="_blank" novalidate>
            <input 
              class="bg-white text-gray-800 dark:text-gray-400 dark:bg-gray-800 focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-1 px-2 block w-full appearance-none leading-normal" 
              id="mce-EMAIL" placeholder="email address"
              type="email" 
              value="" 
              name="EMAIL" 
              required
            >
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_19aebc17c023a0b14dd99e7af_aac894cef7" tabindex="-1" value=""></div>
            <input 
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 ml-2 border border-gray-400 rounded shadow cursor-pointer"
              type="submit" 
              value="Subscribe" 
              name="subscribe" 
              id="mc-embedded-subscribe">
          </form>
      </footer>
    </div>
    <script>
      feather.replace({ class: 'inline-block' })
    </script>
    <script src="https://unpkg.com/simple-lightbox@2.1.0/dist/simpleLightbox.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/simple-lightbox@2.1.0/dist/simpleLightbox.min.css" />
    <script>
      new window.SimpleLightbox({ elements: 'img:not(.rounded-full)', urlAttribute: 'data-src' })
    </script>
  </body>
</html>
