---
layout: base.njk
title: About
---
<h2 class="mb-4"> About Me </h2>
<article class="space-y-4">
  <p>
    I'm Francesco – a software engineer working at <a href="https://0x.org/" target="_blank">0x</a> on <a href="https://0x.org/api" target="_blank">0x-api</a> most recently, and all sorts of things prior to that.
    Previously, I worked at <a href="http://yelp.com/search" target="_blank">Yelp</a> on improving search as a full-stack and iOS engineer. 
    In my free time you'll find me hacking, exercising, eating or trying to read the entire Internet. I'm also into startups, crypto and all that.
  </p>
  <p>
    I enjoy creating and releasing side-projects into the wild. <a href="/projects/codenail">Codenail</a> lets you order a poster or shirt of your code + logo. 
    <a href="/projects/renderproxy">Renderproxy</a> helps you solve SEO issues with your Single Page App, 
    and <a href="/projects/ethereum-canvas">Ethereum Canvas</a> was a fun experiment in digital scarcity. There are many more projects not worth mentioning here.
  </p>
  <p>
    I studied Computer Science at <a href="https://duke.edu/">Duke University</a> and am from Milan, Italy originally.
  </p>
</article>