---
layout: base.njk
---

<div class="my-10">
  <h1 class="mb-4"> Hi. </h1>
  <p>
    I'm Lupin - currently teaching "Defense against the Dark Arts" at Hogwarts, Great Britain. 
    I recently published a book called <a href="https://harrypotter.fandom.com/wiki/Dementor">Those nasty Dementors.</a>
     It teaches everything you need to know about defending against Dementors.
  </p>
</div>

<div class="divide-y divide-gray-500 mb-5 mt-8">
  <div class="flex flex-row justify-between py-2">
    <h2>Latest Posts</h2>
    <a class="header-link self-center" href="/posts">Read all posts</a>
  </div>
  <div></div>
</div>
{% set postsListLimit = 3 %}
{% include "components/postslist.njk" %}

<div class="divide-y divide-gray-500 mb-5 mt-8">
  <div class="flex flex-row justify-between py-2">
    <h2>Latest Projects</h2>
    <a class="header-link self-center" href="/projects">See all projects</a>
  </div>
  <div></div>
</div>
{% set projectsListLimit = 3 %}
{% include "components/projectslist.njk" %}