---
layout: base.njk
title: Projects
---

<h2 class="mb-4"> Projects </h2>
<p class="mb-4">
Below are some projects that I completed through work and on the side. 
The list is non-exhaustive, especially when it comes to work completed professionally.
</p>
{% include "components/projectslist.njk" %}