---
layout: base.njk
title: Projects
---

<h2 class="mb-4"> Projects </h2>
<p class="mb-4">
Below are some projects I completed through work and in my free time. 
The list is non-exhaustive.
</p>
{% include "components/projectslist.njk" %}