---
layout: base.njk
title: Projects
---

This is projects content.


<h2> Projects </h2>
<ul>
{%- for project in collections.project -%}
  <article>
    <h1>
      <a href="{{ project.url | url }}">{{ project.data.title }}</a>
    </h1>
    {{ project.date }}
  </article>
{%- endfor -%}
</ul>